/* TODO Add site wide styles */
#root {
    --background: #21272E;
    --text-color: rgb(216, 216, 216);
    --secondary-text-color: rgb(146, 146, 146);
    --button-color: #44525F;
    --divider-color: #333538;
    --border-color: #333538;
    --hover-link-color: rgb(35, 206, 49);
    --nav-color: #15141B;
    font-family: 'Hanken Grotesk', sans-serif;
}

body{
    background-attachment: fixed;
    background-color: #21272E; /* For browsers that do not support gradients */
    background-image: linear-gradient(#21272E, #14171a);
    background-color: #21272E;
    color: rgb(201, 197, 197);
    overflow-x: hidden;
}

#right-divider{
    border-right: 1px var(--divider-color) solid;
    height: 50px;
    margin-top: 25px;
}

.current-user-profile-section{
    border-bottom: 1px solid var(--hover-link-color);
    display: flex;
    align-items: flex-end;
}

.change-cursor{
    cursor: pointer;
}
