.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar-container{
  height: 75px;
  width: 110%;
  margin-left: -10px;
  margin-top: -6px;
  margin-bottom: 30px;
  background-color: var(--nav-color);
}
