.signup-modal-content{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.signup-modal-content > h1{
    margin-bottom: 0;
}

.signup-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-content > div{
    display: flex;
    flex-direction: column;

}

.signup-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.submit-buttons-signup{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
