.film-details-page-container {
    display: flex;
    justify-content: center;
    margin: 0px 24px;
}

.film-details-page{
    margin-top: 20px;
    width: 1000px;
    min-width: 950px;
    max-width: 1000px;
}

#film-background-image{
    height: 575px;
    width: 1000px;
    z-index: -1;
    /* opacity: 60%; */
    /* border: -30px solid var(--background); */
}

.film-background-image-container{
    display: inline-flex;
    justify-content: center;
    z-index: -1;
}

.faded-all:after{
    box-shadow: inset 1px 1px 15px 15px var(--background);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.faded{

    position: relative;
    color: var(--background);
}

.faded:after{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-img-container{

    display: flex;
    justify-content: center;
}
.film-details-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'tile trailer';
    margin: 20px 0px;
    gap: 30px;
}

.film-watches-likes-grid{
    display: grid;
    grid-template-columns: 2fr 2fr 5fr;
}

.film-tile-card{
    grid-area: tile;
}

#film-details-tile-image{
    height: 400px;
    width: 266px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.301);
}

.film-details{
    grid-area: details;
    padding: 0px 20px 50px 0px;
}

.film-interactions-panel{
    grid-area: interactions;
    background-color: #495c6e;
    height: 95px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.301);
}

.secondary-film-details-heading{
    display: flex;
    gap: 15px;
}

.secondary-film-details-heading > h3{
    margin-top: 0;
}

#film-title-detail{
    margin-bottom: 5px;
    margin-top: 0;
}

#film-description-detail{
    font-size: 18px;
    margin: 4px 0px;
    color: #99AABB;
}

.film-interactions{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    text-align: center;
    /* border-bottom: 1px solid var(--background); */

}

.film-interactions > div > i{
    font-size: 30px;
}

.film-interactions > div > p{
    font-size: 15px;
}

.film-add-to-lists{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.add-to-list-button-film-details{
    border: none;
    outline:  none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 15px;
}

.add-to-list-button-film-details > button{
    background-color: var(--button-color);
}

.film-trailer-player-container{
    grid-area: trailer;
}

.trailer-film-player{
    width: 100%;
    height: 94.3%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.301);
}

.film-details-grid-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'details interactions';
    margin-top: 40px;
}

.update-film-button{
    margin-top: 20px;
    background-color: rgb(31, 136, 155);
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Hanken Grotesk', sans-serif;
}

.control-buttons{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.control-buttons > button{
    width: 145px;
    height: 40px;
    border: 2px solid transparent;
}

.control-buttons > button:hover{
    border-color: var(--text-color);
}
